

.title_part {
    font-size: 35px;
    font-weight: 700;
}

.title_part span {
    font-size: 50px;
    color: rgba(254, 215, 65, 1);
}



@media (min-width: 768px) {
  
}

/* laptop */

@media (min-width: 992px) {
 
}

/* desktop */

@media (min-width: 1200px) {}