/***** SLIDER ******/

.slider-block>div {
    text-align: center;
    color: white;
    font-size: 50px;
}

.slider-block img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    outline: none;
    z-index: 1;
}

.slick-dots {
    bottom: 4px;
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    border: 1px solid #fed741;
}

.slick-dots li button:before {
    font-size: 0px;
    color: #fed741;
    width: 10px;
    height: 10px;
    content: "";
}

.slick-dots li.slick-active button:before {
    content: "";
    color: #fed741;
    ;
    background-color: #fed741;
    border: 1px solid #fed741;
    width: 12px;
    height: 12px;
    opacity: 1;
}

.slider-photo_block {
    position: relative;
    outline: none;
    z-index: 1;
}

.slider-section {
    display: flex;
    flex-flow: column nowrap;
    float: right;
    width: 200px;
    height: 500px;
}

.SliderDescription {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
 
    left: 0;
    right: 0;
    top: 0;
 
    color: #000;
    z-index: 100;
}





/******* SLIDER ENDS *******/


/* tablet */

@media (min-width: 768px) {
    
    .slider-section {
        display: flex;
        flex-flow: column nowrap;
        float: right;
        width: 400px;
        height: 500px;
    }
    
}

/* laptop */

@media (min-width: 992px) {
   
}

/* desktop */

@media (min-width: 1200px) {
   
}



/* mobile */

@media (max-width: 767px) {
    
}