
.footer {
    background-color: black;
    color: white;
}

.footer-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.inform_menu, .social_menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    text-align: right;
}

.social_menu {
    justify-content: flex-start;
    text-align: left;
    font-size: 14px;
}

.inform_menu p {
    padding-bottom: 15px;
    font-size: 16px;
}

.inform_menu p:first-child, .social_menu p:first-child {
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.social_menu p:first-child {
    padding-top: 0px;
    font-size: 18px;
    line-height: 1.2;
}

.copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

div.social-icons, .info-block {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
}

.info-block {
    align-content: center;
    justify-content: center;
}

.info-block p, .social_menu div:first-child {
    padding-left: 10px;
    text-align: center;
}


/* tablet */

@media (min-width: 768px) {
   
    .footer-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    .info-block {
        align-content: center;
        justify-content: flex-end;
        padding-top: 10px;
    }
    .info-block p {
        padding-left: 10px;
    }
    .inform_menu p:first-child, .social_menu p:first-child {
        /* font-size: 20px; */
        padding-bottom: 30px;
        padding-top: 0px;
        text-align: right;
    }
    .social_menu p:first-child {
        text-align: left;
    }
    div.social-icons {
        align-content: flex-start;
        justify-content: flex-start;
    }
  
}

/* laptop */

@media (min-width: 992px) {
   
}

/* desktop */

@media (min-width: 1200px) {
    
}


/* mobile */

@media (max-width: 767px) {
   
}