.aim-block {
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 100%;
    height: 660px;
    color: #797979;
    font-style: italic;
}

.aim_part_one {
    width: 100%;
    height: 660px;
    background-color: #1f1f1f;
    font-size: 27px;
    font-weight: 400;
}

.aim_part_one a {
    text-decoration: none;
    color: #797979;
}

.aim_part_one h4 {
    padding-top: 50px;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}

.aim_part_one p {
    padding-top: 50px;
}

.aim_part_one a:last-child {
    text-decoration: underline;
}

.aim_part_one a:first-child:hover, .aim_part_one a:last-child:hover {
    color: white;
}


@media (min-width: 768px) {
   
    .aim_part_one {
        width: 500px;
        background-color: #1f1f1f;
        font-size: 20px;
        font-weight: 400;
    }
    .aim_part_one a {
        text-decoration: none;
        color: #797979;
    }
 
   
    .aim-block{
        position: absolute;
        display: flex;
        flex-flow: column;
        text-align: center;
        left: 0;
        right: 0;
        top: -10%;
        z-index: 10;
        height: 660px;
        color: #797979;
        font-style: italic;
    }
    .aim_part_one {
        width: 300px;
        background-color: #1f1f1f;
        font-size: 27px;
        font-weight: 400;
    }
    
}

/* laptop */

@media (min-width: 992px) {

}

/* desktop */

@media (min-width: 1200px) {
  
}


/* mobile */

@media (max-width: 767px) {
  
}