.recent-stories_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}

.features-posts {
    padding-top: 50px;
}

.features-posts-section {
    padding-bottom: 50px;
}

.recipe-posts {
    padding-bottom: 100px;
}


.features_part_two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
}

.features_part_one {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.features_part_one, .features_part_two {
    flex-direction: column;
}

.aim-block {
    flex-wrap: nowrap;
}



.features_photo img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 5px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    display: block;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

.features_photo {
    display: block;
    overflow: hidden;
    border-radius: 5px;
}

.features_photo img:hover {
    transform: scale(1.2);
}

.features_photos{
    padding-top: 20px;
    cursor: pointer;
}



.features_photos button{
    width: 180px;
    height: 60px;
    background-color: white;
    border: 1px solid #fff;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.features_photos button{
    width: 160px;
    height: 40px;
    border-radius: 5px;
    background-color: #000;
    border: 1px solid #000;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}


 .features_photos button:hover {
    background-color: #fb6121;
    border: 1px solid #fb6121;
    transition: .25s ease-in-out;
}

.features-posts-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.features_photos p{
    color: #7f7f7f;
    text-decoration: none;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

 .features_photos a {
    text-decoration: none;
}


/* tablet */

@media (min-width: 768px) {
    .recent-stories_section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

   
}

/* laptop */

@media (min-width: 992px) {
    .features-posts-section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .features_part_two {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        cursor: pointer;
    }
    .features_part_one {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        cursor: pointer;
    }
    .features_part_two {
        justify-content: center;
    }
    .title-row {
        justify-content: start;
    }

    .features_photos{
        padding-top: 0px;
    }
   
}

/* desktop */

@media (min-width: 1200px) {}