 .aim-block{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    cursor: pointer;
}

.aim-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.aim-photo {
    position: relative;
    z-index: 1;
}

.aim-img {
    width: 100%;
    height: 300px;  
}

 .aim-img img {
    /* background: url("images/bg_3.jpg") no-repeat; */
    background-size: cover;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.aim-block {
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 100%;
    height: 660px;
    color: #797979;
    font-style: italic;
}

.aim_part_one {
    width: 100%;
    height: 660px;
    background-color: #1f1f1f;
    font-size: 27px;
    font-weight: 400;
}


.aim-section {
    padding-bottom: 0px;
}

@media (min-width: 768px) {
   
    .aim_part_one {
        width: 500px;
        background-color: #1f1f1f;
        font-size: 20px;
        font-weight: 400;
    }
    
    .aim-img {
        height: 600px;
    }
    
 .aim-img img{
        /* background: url("images/bg_3.jpg") no-repeat; */
        background-size: cover;
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    .aim-block{
        position: absolute;
        display: flex;
        flex-flow: column;
        text-align: center;
        left: 0;
        right: 0;
        top: -10%;
        z-index: 10;
        height: 660px;
        color: #797979;
        font-style: italic;
    }
    .aim_part_one {
        width: 300px;
        background-color: #1f1f1f;
        font-size: 27px;
        font-weight: 400;
    }
    .aim-section {
        padding-top: 50px;
    }
    
}

/* laptop */

@media (min-width: 992px) {

}

/* desktop */

@media (min-width: 1200px) {
  
}


/* mobile */

@media (max-width: 767px) {
  
}