div.social-icons{
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
}

div.social-icons a {
    display: flex;
    flex-direction: column; 
    align-content: center;
    justify-content: center;
    align-self: center;
    align-items: center;
}

a.facebook, a.instagram, a.twitter  {
    /* background: url("images/facebook.png") no-repeat; */
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    margin-left: 4px;
    outline: none;
}

a.instagram {
    /* background: url("images/icon.png") no-repeat; */
    background-position: center;
    background-color: rgba(255, 255, 255, 0.2);
}

a.twitter {
    /* background: url("images/icon5.png") no-repeat; */
    background-position: center;
    background-color: rgba(255, 255, 255, 0.2);
}

a.instagram:hover, a.facebook:hover, a.twitter:hover {
    border: 1px solid rgba(254, 215, 65, 1);
    transition: .5s ease-out;
}


a.facebook img, a.instagram img {
    height:20px;
}


/* tablet */

@media (min-width: 768px) {
   
    div.social-icons {
        align-content: flex-start;
        justify-content: flex-start;
    }
  
}

/* laptop */

@media (min-width: 992px) {
   
}

/* desktop */

@media (min-width: 1200px) {
    
}


/* mobile */

@media (max-width: 767px) {
   
}