
.top-post-section {
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.top-post {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.top-post-block h1 {
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 30px;
}

.bread_crumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.bread_crumbs a, .bread_crumbs li {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 10px;
}

.bread_crumbs li {
    color: #e8e0db;
}

.overlay {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    z-index: -100;
}



.favorite-wrap {
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border:2px solid black;
    font-weight: 400;
    font-size: 20px;
}

.favorite-wrap button {
     margin-left: 15px;
}

.favorites {
    padding-top: 50px;
    padding-bottom: 100px;
}