.recent-stories_part_one img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.recent-stories_row a {
    text-decoration: none;
}

.recent-stories_photos p, .recent-stories_photos div {
    color: #7f7f7f;
    text-decoration: none;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}


.recent-stories_photos div {
    color: #fb6121;
}

.recent-stories_photos div:hover {
    color: #000;
}

.recent-stories_photos p:nth-child(3){
    color: black;
}

.recent-stories_photos p:nth-child(2) {
    font-size: 16px;
}



/* tablet */

@media (min-width: 768px) {
    
  
    
}

/* laptop */

@media (min-width: 992px) {
    
    .recent-stories_part_one img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
 
   
}

/* desktop */

@media (min-width: 1200px) {
    
    .recent-stories_part_one img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

   
}



/* mobile */

@media (max-width: 767px) {
    
}