


.side-bar {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.side-bar img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.side-bar h3 {
    font-size: 40px;
    padding: 40px 20px;
    font-weight: 700;
}

.side-bar p {
    padding: 40px 20px;
    line-height: 1.2;
}

.search-box {
    padding-bottom: 40px;
    width: 250px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    background: white;
    margin-bottom: 40px;
    border-radius: 5px;
}

.input-box {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.08);
    background: white;
    border-radius: 5px;
}

.search-box input {
    color: #9ba5a4;
    border: none;
    outline: none;
    appearance: none;
    text-decoration: none;
    background: none;
    width: 210px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 10px;
}

.input-box input {
    width: 85%;
}

.search_button {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    /* background: url("images/icon1.png") no-repeat; */
    background-position: 90% 0%;
    background-size: auto;
}



@media (min-width: 768px) {
 
}

/* laptop */

@media (min-width: 992px) {
   
    .search-box {
        width: 150px;
        height: 50px;
    }
    .search-box input {
        width: 110px;
        height: 50px;
        line-height: 50px;
    }
}

/* desktop */

@media (min-width: 1200px) {}