

.logo {
    padding-top: 5px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Rowdies', cursive;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.logo-text span {
    color: #fed741;
    font-size: 30px;
}



@media (min-width: 768px) {
   
    .logo {
        padding-top: 0px;
        color: black;
    }
    .logo a {
        color: black;
    }
    
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
   
}

/* laptop */

@media (min-width: 992px) {
    
}

/* desktop */

@media (min-width: 1200px) {
   
}

.nav-mobile-menu {
    display: none;
}

/* mobile */

@media (max-width: 767px) {
    .menu {
        display: flex;
        justify-content: center;
    }
    .nav-menu {
        display: flex;
        justify-content: center;
    }
    .logo-text {
        font-size: 14px;
        text-align: center;
    }
    .logo {
        padding-top: 0;
        display: flex;
        justify-content: flex-start;
    }
    .flag {
        width: 40px;
        height: 20px;
        margin-top: 5px;
    }
    .header-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 10px 0;
    }
    .header-row>col {
        margin: 0;
    }
    .nav-mobile-menu {
        display: block;
        position: relative;
        width: 15px;
        height: 15px;
    }
    .nav-mobile-menu span {
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out;
    }
    .nav-mobile-menu span:nth-child(1) {
        top: 3px;
    }
    .nav-mobile-menu span:nth-child(2) {
        top: 7px;
    }
    .nav-mobile-menu span:nth-child(3) {
        bottom: 2px;
    }
    /* active menu */
    .nav-mobile-menu.active-menu span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(3) {
        transform: scale(0);
    }
    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        top: 49px;
        transform: translateX(0);
    }
    .navigation.active-menu .nav-menu {
        flex-direction: column;
        /* flex-wrap: nowrap; */
        padding-top: 10px;
    }
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        max-width: 100%;
        height: 200px;
        max-height: 200px;
        transition: all 500ms ease-in-out;
        transform: translateX(150%);
        background-color: #000;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
    }
    .hidden-menu {
        opacity: 0;
        visibility: hidden;
    }
}