

 .subscribe_button:hover {
     background-color: #fb6121;
     border: 1px solid #fb6121;
     transition: .25s ease-in-out;
 }

 .subscribe-box {
     padding-bottom: 40px;
     width: 250px;
     height: 50px;
     border: 2px solid rgba(0, 0, 0, 0.08);
     background: white;
     margin-bottom: 40px;
     border-radius: 5px;
 }

 .subscribe-box {
     border-radius: 0px;
 }

 .subscribe-box {
     width: 200px;
     height: 40px;
     border: 1px solid transparent;
     background: rgba(0, 0, 0, 0.05);
     border-bottom-left-radius: 2px;
     border-top-left-radius: 2px;
 }

 .subscribe-box input:first-child {
     width: 180px;
     height: 40px;
     line-height: 40px;
     text-align: left;
     padding-left: 10px;
     font-size: 16px;
 }

 .subscribe_button {
     width: 110px;
     height: 42px;
     border: none;
     outline: none;
     background-color: #000;
     border: 1px solid black;
     color: white;
     font-size: 20px;
     border-bottom-right-radius: 2px;
     border-top-right-radius: 2px;
     border: 1px solid transparent;
 }

 .subscribe-window {
     display: flex;
     flex-direction: row;
     justify-content: center;
 }

 /* tablet */

 @media (min-width: 768px) {
     .subscribe-box {
         width: 450px;
         height: 40px;
     }
     .subscribe-box input:first-child {
         width: 464px;
         height: 40px;
         line-height: 40px;
         text-align: left;
         /* padding-left: 10px; */
         font-size: 20px;
     }
     
 }

 /* laptop */

 @media (min-width: 992px) {}

 /* desktop */

 @media (min-width: 1200px) {}

 /* mobile */

 @media (max-width: 767px) {}