 .subscribe {
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: space-between;
     padding-top: 50px;
 }



 .subscribe-section {
     padding-bottom: 100px;
     background-color: rgba(0, 0, 0, 0.03);
 }

 .subscribe {
     padding-top: 0;
     text-align: center;
     font-size: 25px;
     line-height: 1.2;
     font-weight: 400;
 }



 .subscribe_part_one {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 

 /* tablet */

 @media (min-width: 768px) {
    
     .subscribe {
         text-align: center;
     }
 }

 /* laptop */

 @media (min-width: 992px) {}

 /* desktop */

 @media (min-width: 1200px) {}

 /* mobile */

 @media (max-width: 767px) {}