
.recent-stories{
    padding-top: 50px;

}

.recipe-posts {
    padding-bottom: 100px;
}

.title_part {
    font-size: 35px;
    font-weight: 700;
}

.title_part span {
    font-size: 50px;
    color: rgba(254, 215, 65, 1);
}

.recent-stories_section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}

.recent-stories_part_one, .aim-block, .recent-stories_row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
}



.recent-stories_part_two {
    display: flex;
}

.recent-stories_part_two img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.recent-stories_part_two {
    display: flex;
}

.recent-stories_secondpart {
    position: relative;
}

.row-recept-stories {
    position: absolute;
    top: 99.4%;
    left: 97%;
    transform: translate(-97%, -99.4%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.row-recept-stories p:first-child {
    font-size: 18px;
    color: rgba(254, 215, 65, 1);
    font-weight: 700;
    padding-left: 20px;
}

.row-recept-stories p:nth-child(2) {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 20px;
}

.row-recept-stories .butt-read-more {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 63px;
}

.row-recept-stories button, .features_photos button, .features_photos-row button {
    width: 180px;
    height: 60px;
    background-color: white;
    border: 1px solid #fff;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}


.row-recept-stories button:hover, .features_photos button:hover, .subscribe_button:hover, .features_photos-row button:hover {
    background-color: #fb6121;
    border: 1px solid #fb6121;
    transition: .25s ease-in-out;
}





/* tablet */

@media (min-width: 768px) {
    
    .recent-stories_section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .recent-stories_part_one img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    .row-recept-stories {
        position: absolute;
        top: 99.6%;
        left: 97%;
        transform: translate(-97%, -99.6%);
    }
    
}

/* laptop */

@media (min-width: 992px) {
    
   
    .recent-stories_part_two img {
        height: 660px;
    }
    .row-recept-stories {
        position: absolute;
        top: 99.4%;
        left: 97%;
        transform: translate(-97%, -99.4%);
    }
   
}

/* desktop */

@media (min-width: 1200px) {
    
   
    .recent-stories_part_two img {
        height: 760px;
    }
    .row-recept-stories {
        position: absolute;
        top: 99.5%;
        left: 97%;
        transform: translate(-97%, -99.5%);
    }
   
}



/* mobile */

@media (max-width: 767px) {
    
}