
.slider-block>div {
    text-align: center;
    /* padding: 150px 0; */
    color: white;
    font-size: 50px;
}

.slider-block img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    outline: none;
    z-index: 1;
}

.slick-dots {
    bottom: 4px;
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    border: 1px solid #fed741;
    display: block;
}

.slick-dots li button:before {
    font-size: 0px;
    color: #fed741;
    width: 10px;
    height: 10px;
    content: "";
}

.slick-dots li.slick-active button:before {
    content: "";
    color: #fed741;
    background-color: #fed741;
    border: 1px solid #fed741;
    width: 12px;
    height: 12px;
    opacity: 1;
}

.slider-photo_block {
    position: relative;
    outline: none;
    z-index: 1;
}

.slider-section {
    display: flex;
    flex-flow: column nowrap;
    float: right;
    width: 200px;
    height: 500px;
}

.SliderDescription {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    /* display: block; */
    left: 0;
    right: 0;
    top: 0;
    /* text-align: right; */
    color: #000;
    z-index: 100;
}

.slider-container {
    background-color: rgba(254, 215, 65, 0.7);
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider_capt {
    color: black;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}

.text_slider {
    color: #7f7f7f;
    padding-top: 33px;
    font-size: 16px;
    font-weight: 400;
}

.button_section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.view_more_button {
    width: 130px;
    height: 50px;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    outline: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.videotour_button {
    margin-left: 11px;
}

.view_more_button:hover {
    border-color: #fb6121;
    background-color: #fb6121;
    transition: .25s ease-in-out;
}

.read_more_button {
    color: #fff;
    text-decoration: none; 
}

/* tablet */

@media (min-width: 768px) {
    
   
    
}

/* laptop */

@media (min-width: 992px) {
   
}

/* desktop */

@media (min-width: 1200px) {
   
}



/* mobile */

@media (max-width: 767px) {
    
}