.subscribe-box input:first-child {
    color: #9ba5a4;
    border: none;
    outline: none;
    appearance: none;
    text-decoration: none;
    background: none;
    width: 210px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 10px;
}

.subscribe_part_one p:nth-child(2) {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #9ba5a4;
    font-size: 20px;
}

.subscribe_part_one p:first-child {
    padding-top: 50px;
    font-size: 30px;
}