* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    position: sticky;
    background: black;
    width: 100%;
    top: 0;
    z-index: 100;
}

.header-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-top: 5px;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Rowdies', cursive;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.logo-text span {
    color: #fed741;
    font-size: 30px;
}

.nav-menu li {
    text-align: center;
}

.nav-menu {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.nav-menu a {
    color: #fff;
    text-decoration: none;
    padding: 2px 20px;
    font-weight: 400px;
    font-size: 16px;
    height: 26px;
    line-height: 26px;
}

.nav-menu a:hover {
    color: #fb6121;
    transition: .5s ease-out;
}

.nav-menu .active {
    color: #fb6121;
    transition: .5s ease-out;
}

/* .nav-menu .active:hover {
    color: #000;
    border-bottom: 1px solid black;
    transition: .5s ease-out;
} */

/***** SLIDER ******/

.slider-block>div {
    text-align: center;
    /* padding: 150px 0; */
    color: white;
    font-size: 50px;
}

.slider-block img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    outline: none;
    z-index: 1;
}

.slick-dots {
    bottom: 4px;
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    border: 1px solid #fed741;
}

.slick-dots li button:before {
    font-size: 0px;
    color: #fed741;
    ;
    width: 10px;
    height: 10px;
    content: "";
}

.slick-dots li.slick-active button:before {
    content: "";
    color: #fed741;
    ;
    background-color: #fed741;
    border: 1px solid #fed741;
    width: 12px;
    height: 12px;
    opacity: 1;
}

.slider-photo_block {
    position: relative;
    outline: none;
    z-index: 1;
}

.slider-section {
    display: flex;
    flex-flow: column nowrap;
    float: right;
    width: 200px;
    height: 500px;
}

.SliderDescription {
    position: absolute;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    /* display: block; */
    left: 0;
    right: 0;
    top: 0;
    /* text-align: right; */
    color: #000;
    z-index: 100;
}

.slider-container {
    background-color: rgba(254, 215, 65, 0.7);
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.slider_capt {
    color: black;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}

.text_slider {
    color: #7f7f7f;
    padding-top: 33px;
    font-size: 16px;
    font-weight: 400;
}

.button_section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.view_more_button {
    width: 130px;
    height: 50px;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    border-radius: 3px;
    outline: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.videotour_button {
    margin-left: 11px;
}

.view_more_button:hover {
    border-color: #fb6121;
    background-color: #fb6121;
    transition: .25s ease-in-out;
}

/******* SLIDER ENDS *******/

.recent-stories, .features-posts, .recipe-posts {
    padding-top: 50px;
    /* padding-bottom: 100px; */
}

.features-posts-section {
    padding-bottom: 50px;
}

.recipe-posts {
    padding-bottom: 100px;
}

.title_part {
    font-size: 35px;
    font-weight: 700;
}

.title_part span {
    font-size: 50px;
    color: rgba(254, 215, 65, 1);
}

.recent-stories_section, .subscribe {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}

.recent-stories_part_one, .aim-block, .recent-stories_row, .features_part_two {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
}

.features_part_one {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.features_part_one, .features_part_two {
    flex-direction: column;
}

.aim-block {
    flex-wrap: nowrap;
}

.recent-stories_part_one img, .features_photo img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
}

.features_photo img {
    height: 350px;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    display: block;
    width: 100%;
    overflow: hidden;
}

.features_photo {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

.features_photo img:hover {
    transform: scale(1.2);
}

.features_photos, .features_photos-row {
    padding-top: 20px;
    cursor: pointer;
}

/* .features_photos-row {
    display: none;
} */

/* *** PHOTO TABS START*** */

.show {
    display: block;
}

#myBtnContainer {
    padding-top: 30px;
}

.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #ddd;
}

.btn.active-btn {
    background-color: #666;
    color: white;
}

/* *** PHOTO TABS START*** */

.recent-stories_part_two img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.recent-stories_photos p, .recent-stories_photos div, .features_photos p, .features_photos-row p {
    color: #7f7f7f;
    text-decoration: none;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.recent-stories_part_one a, .recent-stories_secondpart a, .features_photos a, .features_photos-row a {
    text-decoration: none;
}

.recent-stories_photos div {
    color: #fb6121;
}

.recent-stories_photos div:hover {
    color: #000;
}

.recent-stories_photos p:nth-child(3), .features_photos p:nth-child(3) {
    color: black;
}

.recent-stories_photos p:nth-child(2), .features_photos p:nth-child(2) {
    font-size: 16px;
}

.features_photos-row p {
    font-size: 17px;
    text-align: justify;
}

.recent-stories_part_two {
    display: flex;
}

.recent-stories_secondpart {
    position: relative;
}

.row-recept-stories {
    position: absolute;
    top: 99.4%;
    left: 97%;
    transform: translate(-97%, -99.4%);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.row-recept-stories p:first-child {
    font-size: 18px;
    color: rgba(254, 215, 65, 1);
    font-weight: 700;
    padding-left: 20px;
}

.row-recept-stories p:nth-child(2) {
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 20px;
}

.row-recept-stories .butt-read-more {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 63px;
}

.row-recept-stories button, .features_photos button, .features_photos-row  .accordion {
    width: 180px;
    height: 60px;
    background-color: white;
    border: 1px solid #fff;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}

.features_photos button, .features_photos-row  .accordion {
    width: 160px;
    height: 40px;
    border-radius: 5px;
    background-color: #000;
    border: 1px solid #000;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}

.features_photos-row button {
    /* width: 100%; */
    height: 30px;
    margin-top: 28px;
}

.row-recept-stories button:hover, .features_photos button:hover, .subscribe_button:hover, .features_photos-row .accordion:hover {
    background-color: #fb6121;
    border: 1px solid #fb6121;
    transition: .25s ease-in-out;
}

.features-posts-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.side-bar {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.side-bar img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}

.side-bar h3 {
    font-size: 40px;
    padding: 40px 20px;
    font-weight: 700;
}

.side-bar p {
    padding: 40px 20px;
    line-height: 1.2;
}

.search-box, .subscribe-box {
    padding-bottom: 40px;
    width: 250px;
    height: 50px;
    border: 2px solid rgba(0, 0, 0, 0.08);
    background: white;
    margin-bottom: 40px;
    border-radius: 5px;
}

.subscribe-box {
    border-radius: 0px;
}

.input-box {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.08);
    background: white;
    border-radius: 5px;
}

.search-box input, .subscribe-box input:first-child, .input-box input {
    color: #9ba5a4;
    border: none;
    outline: none;
    appearance: none;
    text-decoration: none;
    background: none;
    width: 180px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 10px;
  
}



.input-box input {
    width: 85%;
}

.search-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    
}

.search_button, .search_button img, .search-box img, .search-box button {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background: none;
    float: right;
    margin-top:1px;
}


.aim-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.aim-photo {
    position: relative;
    z-index: 1;
}

.aim-photo .aim-img {
    /* background: url("images/bg_3.jpg") no-repeat; */
    background-size: cover;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.aim-block {
    display: flex;
    flex-flow: column;
    text-align: center;
    width: 100%;
    height: 660px;
    color: #797979;
    font-style: italic;
}

.aim_part_one {
    width: 100%;
    height: 660px;
    background-color: #1f1f1f;
    font-size: 27px;
    font-weight: 400;
}

.aim_part_one a {
    text-decoration: none;
    color: #797979;
}

.aim_part_one h4 {
    padding-top: 50px;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
}

.aim_part_one p {
    padding-top: 50px;
}

.aim_part_one a:last-child {
    text-decoration: underline;
}

.aim_part_one a:first-child:hover, .aim_part_one a:last-child:hover {
    color: white;
}

.aim-section {
    padding-bottom: 0;
}

.subscribe-section {
    padding-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.03);
}

.subscribe {
    padding-top: 0;
    text-align: center;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 400;
}

.subscribe_part_one p:nth-child(2) {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #9ba5a4;
    font-size: 20px;
}

.subscribe_part_one p:first-child {
    padding-top: 50px;
    font-size: 30px;
}

.subscribe_part_one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe-box {
    width: 200px;
    height: 40px;
    border: 1px solid transparent;
    background: rgba(0, 0, 0, 0.05);
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.subscribe-box input:first-child {
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 10px;
    font-size: 16px;
}

.subscribe_button {
    width: 110px;
    height: 42px;
    border: none;
    outline: none;
    background-color: #000;
    border: 1px solid black;
    color: white;
    font-size: 20px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border: 1px solid transparent;
}

.subscribe-window {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer {
    background-color: black;
    color: white;
}

.footer-row {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.inform_menu, .social_menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    text-align: right;
}

.social_menu {
    justify-content: flex-start;
    text-align: left;
    font-size: 14px;
}

.inform_menu p {
    padding-bottom: 15px;
    font-size: 16px;
}

.inform_menu p:first-child, .social_menu p:first-child {
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}

.social_menu p:first-child {
    padding-top: 0px;
    font-size: 18px;
    line-height: 1.2;
}

.copyright {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 18px;
}

div.social-icons, .info-block {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
}

.info-block {
    align-content: center;
    justify-content: center;
}

.info-block p, .social_menu div:first-child {
    padding-left: 10px;
    text-align: center;
}

a.facebook, a.instagram, a.twitter {
    /* background: url("images/facebook.png") no-repeat; */
    background-position: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid white;
    margin-left: 4px;
    outline: none;
}

a.instagram {
    /* background: url("images/icon.png") no-repeat; */
    background-position: center;
    background-color: rgba(255, 255, 255, 0.2);
}

a.twitter {
    /* background: url("images/icon5.png") no-repeat; */
    background-position: center;
    background-color: rgba(255, 255, 255, 0.2);
}

a.instagram:hover, a.facebook:hover, a.twitter:hover {
    border: 1px solid rgba(254, 215, 65, 1);
    transition: .5s ease-out;
}

.adress, .tel, .email {
    /* background: url("images/add.png") no-repeat; */
    background-position: top;
    width: 20px;
    height: 20px;
    outline: none;
}

.email {
    /* background: url("images/email.png") no-repeat; */
    background-position: 50% 34%;
}

.tel {
    /* background: url("images/tel.png") no-repeat; */
    background-position: 50% 34%;
}

/****** About page Starts *******/

.top-post-section img{
    /* background: url("images/bg_4.jpg") no-repeat; */
    /* background-position: center;
    background-size: cover; */
    object-fit: cover;
    width:100%;
    height:500px;
    position: relative;
    z-index: 10;
}

.top-post {
    /* padding-top: 200px; */
    /* padding-bottom: 20px; */
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
}
.top-post-block  {
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50%, -70%);
    z-index: 20;
}

.top-post-block h1 {
    color: #fff;
    font-size: 80px;
    font-weight: 700;
    padding-top: 50px;
    padding-bottom: 30px;
}

.bread_crumbs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.bread_crumbs a, .bread_crumbs li {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding-left: 10px;
}

.bread_crumbs li {
    color: #e8e0db;
}

.overlay {
    position: absolute;
    top: 49px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height:500px;
    z-index: 10;
}

.about-us-block {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

.about_us_photo {
    /* background: url("images/bg_5.jpg") no-repeat; */
    object-fit: cover;
    width: 100%;
    height: 600px;
}
.about_us_photo img {
    object-fit: cover;
    width: 100%;
    height: 600px;
}

.about-us-content, .row-about-section, .conact-us-block, .social-info {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 100px;
}

.about-us-content p {
    text-align: center;
    padding-top: 20px;
    /* padding-bottom: 30px; */
    line-height: 1.2;
    font-size: 20px;
    font-weight: 400;
}

.row-about-section {
    align-items: center;
    align-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
}

.square {
    width: 200px;
    height: 200px;
    background: #f8f9fa;
    margin-top: 30px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.square p {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    font-weight: 400;
}

.square p:first-child {
    font-size: 50px;
    font-weight: 700;
}

/****** About page Ends *******/

/* **** CONTACTS PAGE STARTS******/

#vmap {
    width: 300px;
    height: 400px;
}

.jqvmap-zoomin, .jqvmap-zoomout {
    width: 30px;
}

.jqvmap-zoomin, .jqvmap-zoomout {
    padding: 0;
}

.contact-section, .social-section {
    padding-top: 50px;
    padding-bottom: 80px;
}

.conact-us-block {
    padding-top: 0px;
    padding-bottom: 0px;
}

.contact-window {
    width: 100%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 2px;
    width: 100%;
}

.contacts input, .textarea-bar textarea {
    width: 250px;
    height: 40px;
    outline: none;
    border: none;
    background: none;
    color: #9ba5a4;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.textarea-bar textarea {
    height: 100px;
    resize: none;
}

.contacts, .textarea-bar {
    border: 2px solid #d3d8dd;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 20px;
    background-color: white;
}

.textarea-bar {
    text-align: center;
    padding-top: 10px;
}

.send_message {
    width: 170px;
    height: 43px;
    background-color: #f96d33;
    color: white;
    font-weight: 700;
    font-size: 14px;
    border: 1px solid #f96d33;
    border-radius: 4px;
    outline: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.send_message:hover {
    border: 2px solid #000;
    background-color: #000;
}

.social-section {
    padding-top: 0px;
}

.social-info {
    padding-top: 0px;
    padding-bottom: 50px;
}

.block-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    padding-top: 20px;
}

.circle, .circle-four, .circle-two, .circle-three {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: black;

}

.circle-two {
    /* background: url("images/telef.png") no-repeat; */
    background-position: center;
    background-color: black;
}
.circle-two  img, .circle-three img, .circle-four img ,.circle img{
    width: 30px;
    height: 35px;
    margin-top: 35px;
    margin-left: 35px;
}
.circle-three img{
    /* background: url("images/letter.png") no-repeat; */
    width: 31px;
    height: 32px;
}

.circle-two  img {
    width: 28px;
    height: 32px; 
}

.circle-four {
    /* background: url("images/web.png") no-repeat; */
    background-position: center;
    background-size: 30px 40px;
    background-color: black;
}

.block-circle p {
    padding-top: 30px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.block-circle p:nth-child(2) {
    font-size: 20px;
    font-weight: 700;
}

.block-circle a {
    text-decoration: none;
    color: black;
}

/* ****** FOOODS PAGE  STARTS *******/

.side-bar-photos, .side-bar-links, .photo-text, .recipe-posts-section, .recipe_part_one, .recipe-ingredient-section, .recipe-ingredient-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    cursor: pointer;
}

.side-bar-links h3, .recipe-block h2, .recipe-block h3, .side-bar-recipe h3, .comment-block h3 {
    background: rgba(0, 0, 0, 0.03);
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 40px;
}

.photo img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.photo {
    position: relative;
}

.photo:nth-child(3), .photo:nth-child(4) {
    padding-top: 20px;
}

.photo-text {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
}

#butt {
    background: #f96d33;
    border-color: #f96d33;
    margin-top: 20px;
}

#butt:hover {
    background: #000;
    border-color: #000;
}

/* lightBox */

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    /* background: url("images/loading.gif") no-repeat; */
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    /* background: url("images/prev.png") left 48% no-repeat; */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    /* background: url("images/next.png") right 48% no-repeat; */
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    /* background: url("images/close.png") top right no-repeat; */
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-caption {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

/* Pagination links */

.pagination-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pagination a {
    color: black;
    font-size: 18px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    text-align: center;
    width: 38px;
    height: 34px;
    border-radius: 18px;
}

.pagination a.active {
    background-color: grey;
    color: white;
    width: 38px;
    height: 34px;
    border-radius: 18px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    width: 38px;
    height: 34px;
    border-radius: 18px;
}

/* ****** FOOODS PAGE  ENDS *******/

/****** RECIPE page STARTS *******/

.recipe-posts {
    padding-top: 100px;
}

.recipe-ingredient-section {
    padding-top: 50px;
}

.recipe-block h2, .recipe-block h3, .side-bar-block h3, .side-bar-recipe h3, .comment-block h3 {
    background: none;
    text-align: left;
}

.recipe-block h3, .side-bar-block {
    padding-top: 50px;
}

.recipe-block p {
    line-height: 1.5;
    padding-bottom: 10px;
}

.recipe-block li {
    font-size: 18px;
    font-weight: 400;
    position: relative;
    padding-top: 10px;
}

.recipe-block span {
    position: absolute;
    right: 0;
    top: 0;
    color: #ccc;
    padding-top: 10px;
}

.side-bar-recipe h3, .comment-block h3 {
    color: rgba(0, 0, 0, 0.8);
}

.side-bar-recipe h3 {
    padding-top: 20px;
}

.side-bar-recipe p {
    line-height: 1.8;
    color: #999999;
    font-size: 18px;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dish-photo, .dish-photo2, .dish-photo3, .dish-photo4 {
    /* background: url("images/blog-8.jpg") no-repeat; */
    background-position: center;
    object-fit: cover;
    width: 100%;
    height: 500px;
}

.dish-photo2 {
    /* background: url("images/blog-9.jpg") no-repeat; */
    height: 300px;
}

.dish-photo3 {
    /* background: url("images/blog-7.jpg") no-repeat; */
    height: 300px;
    background-position: center;
    object-fit: cover;
}

.dish-photo4 {
    /* background: url("images/blog-5.jpg") no-repeat; */
    background-position: top;
}

.line {
    /* background: url("images/line.png") no-repeat; */
    width: 100%;
    height: 5px;
    padding-top: 10px;
}

.side-bar-recipe .last-recipe-child {
    color: rgba(0, 0, 0, 0.8);
    font-size: 25px;
    font-weight: 400;
    padding-bottom: 100px;
}

.comment-block p {
    color: #999999;
    font-size: 18px;
    font-weight: 400;
}

.contacts-user, .textarea-bar-user {
    border: 2px solid #d3d8dd;
    border-radius: 5px;
    padding-left: 10px;
    background-color: white;
}

.contacts-user input, .textarea-bar-user textarea {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    background: none;
    color: #9ba5a4;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.textarea-bar-user textarea {
    height: 120px;
    resize: none;
}

.contact-form-user {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 2px;
    width: 100%;
}

.contact-form-user p {
    padding-bottom: 10px;
    padding-top: 10px;
}

.people-photo p {
    line-height: 1.5;
    text-align: justify;
}

.author-comment-block {
    padding-bottom: 80px;
}

.author-comment {
    background-color: #f8f9fa;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author-photo {
    /* background: url("images/author.jpg") no-repeat; */
    background-position: center;
    background-size: cover;
    width:100%;
    height:200px;
    object-fit: cover;
}

.comment-desc p,  .author-comment-block h3, .comment-body p{
    font-size: 18px;
    font-weight: 400;
    padding-left: 20px;
    color: #999999;
    line-height: 1.5;
}

.comment-desc p:first-child, .author-comment-block h3, .comment-body p:first-child {
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 20px;
    font-size: 30px;
}


/*  */
.comment-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.parent-comment-list, .comment, .sub-comment,.children  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.comment{
    flex-direction: row;
    flex-wrap: nowrap;
    /* width: 100%; */
    padding:40px 0 40px 0;
}

.sub-comment {
    flex-direction: column;
    flex-wrap: nowrap;
}

.children {
    flex-wrap: nowrap;
    flex-direction: column;
}


.guest-card img{
    width: 50px;
    border-radius: 50%;
}

.comment-body p:nth-child(2){
    color: #ccc;
}


.comment-body p:last-child{
    padding-top: 20px;
}
.comment-body p:last-child a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
  font-weight:400;
  letter-spacing: 2px;
  background-color: #e6e6e6;
  padding: 5px 10px;
  border-radius: 4px;
}
.comment-body p:last-child a:hover {
    color: rgba(255, 255, 255, 255);
    background-color: black; 

}

.part-one {
    padding-left: 20px;
}
.part-two {
    padding-left: 20px;
}
.part-three {
    padding-left: 20px;  
}
/****** RECIPE page ENDS *******/

/****** Gallery page Starts *****/

.accordion {
    cursor: pointer;
    border: none;
    outline: none;
    text-align: center;
    width: 100%;
    height: 100px;
    font-weight: 400;
    font-size: 16px;
    background-color: rgba(241, 8, 19, 0.2);
    transition: .5s ease-out;
}

.active-butt, .accordion:hover {
    background: rgba(236, 236, 236, 0.3);
}

.panel {
    background-color: white;
    max-height: 0;
    /* overflow: hidden; */
    transition: max-height 0.5s ease-out;
}
.liked {
    cursor: pointer;
    border: none;
    outline: none;
    /* transition: 0.4s; */
    text-align: none;
    width: none;
    height: none;
    background-color:none;
    transition: .5s ease-out;  
}

.liked:hover {
    background:none;
}

/****** Gallery page Starts *****/

/* tablet */

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .header {
        background: white;
    }
    .header-row {
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        /* width: 100%; */
    }
    .logo {
        padding-top: 0px;
        color: black;
    }
    .logo a {
        color: black;
    }
    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
    }
    .nav-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: right;
    }
    .nav-menu a {
        color: black;
        font-size: 16px;
        height: 26px;
        line-height: 26px;
    }
    .nav-menu a:hover {
        color: #7f7f7f;
    }
    .nav-menu .active {
        color: #7f7f7f;
    }
    .logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .slider-section {
        display: flex;
        flex-flow: column nowrap;
        float: right;
        width: 400px;
        height: 500px;
    }
    .recent-stories_section, .about-us-block, .social-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .recent-stories_part_one img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    .row-recept-stories {
        position: absolute;
        top: 99.6%;
        left: 97%;
        transform: translate(-97%, -99.6%);
    }
    .aim_part_one {
        width: 500px;
        background-color: #1f1f1f;
        font-size: 20px;
        font-weight: 400;
    }
    .aim_part_one a {
        text-decoration: none;
        color: #797979;
    }
    .aim-photo .aim-img {
        /* background: url("images/bg_3.jpg") no-repeat; */
        background-size: cover;
        width: 100%;
        height: 600px;
        object-fit: cover;
    }
    .aim-block {
        position: absolute;
        display: flex;
        flex-flow: column;
        text-align: center;
        left: 0;
        right: 0;
        top: -10%;
        z-index: 100;
        height: 660px;
        color: #797979;
        font-style: italic;
    }
    .aim_part_one {
        width: 300px;
        background-color: #1f1f1f;
        font-size: 27px;
        font-weight: 400;
    }
    .subscribe-box {
        width: 450px;
        height: 40px;
    }
    .subscribe-box input:first-child {
        width: 464px;
        height: 40px;
        line-height: 40px;
        text-align: left;
        /* padding-left: 10px; */
        font-size: 20px;
    }
    .subscribe {
        text-align: center;
    }
    .footer-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
    .info-block {
        align-content: center;
        justify-content: flex-end;
        padding-top: 10px;
    }
    .info-block p {
        padding-left: 10px;
    }
    .inform_menu p:first-child, .social_menu p:first-child {
        /* font-size: 20px; */
        padding-bottom: 30px;
        padding-top: 0px;
        text-align: right;
    }
    .social_menu p:first-child {
        text-align: left;
    }
    div.social-icons {
        align-content: flex-start;
        justify-content: flex-start;
    }
    .about-us-content {
        display: flex;
        flex-flow: row wrap;
        padding-left: 30px;
    }
    .row-about-section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .square {
        width: 100%;
        height: 200px;
    }
    .about_us_photo {
        height: 100%;
    }
    .about_us_photo img {
        width:100%;
        height: 100%;
    }
    .about-us-content>p {
        text-align: left;
    }
    #vmap {
        width: 600px;
        height: 400px;
    }
    .contacts input, .textarea-bar textarea {
        width: 400px;
        height: 40px;
    }
    .textarea-bar textarea {
        height: 70px;
    }
    .block-circle {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .author-comment {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .part-one {
        padding-left: 30px;
    }
    .part-two {
        padding-left: 60px;
    }
    .part-three {
        padding-left: 100px;  
    }
    .top-post-section img{
        object-fit: cover;
        width:100%;
        height:500px;
        position: relative;
        z-index: 10;
    }
    .overlay {
        top: 80px;
        
    }
    .aim-section {
        padding-top: 0;
    }
}



/* laptop */

@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
    .nav-menu li {
        /* width: 14.2%; */
        /* width: 100%; */
        text-align: center;
    }
    .nav-menu a {
        font-size: 18px;
    }
    .recent-stories_part_one img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }
    .recent-stories_part_two img {
        height: 660px;
    }
    .row-recept-stories {
        position: absolute;
        top: 99.4%;
        left: 97%;
        transform: translate(-97%, -99.4%);
    }
    .features-posts-section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
.conact-us-block, .recipe-posts-section, .features_part_two, .title-row,.features-row-block {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        cursor: pointer;
    }

    .features_part_one{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        cursor: pointer;
    }
    
    .features_part_two {
        justify-content: center;
    }
    .title-row {
        justify-content: start;
    }
    .search-box {
        width: 150px;
        height: 50px;
    }
    .search-box input {
        width: 80px;
        height: 50px;
        line-height: 50px;
    }
    #vmap {
        width: 450px;
        height: 400px;
    }
    .side-bar-recipe h3 {
        padding-top: 0px;
    }
    .pagination-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }
}

/* desktop */

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .recent-stories_part_one img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    .recent-stories_part_two img {
        height: 760px;
    }
    .row-recept-stories {
        position: absolute;
        top: 99.5%;
        left: 97%;
        transform: translate(-97%, -99.5%);
    }
    #vmap {
        width: 540px;
        height: 400px;
    }
}

.nav-mobile-menu {
    display: none;
}

/* mobile */

@media (max-width: 767px) {
    .menu {
        display: flex;
        justify-content: center;
    }
    .nav-menu {
        display: flex;
        justify-content: center;
    }
    .logo-text {
        font-size: 14px;
        text-align: center;
    }
    .logo {
        padding-top: 0;
        display: flex;
        justify-content: flex-start;
    }
    .flag {
        width: 40px;
        height: 20px;
        margin-top: 5px;
    }
    .header-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        padding: 10px 0;
    }
    .header-row>col {
        margin: 0;
    }
    .nav-mobile-menu {
        display: block;
        position: relative;
        width: 15px;
        height: 15px;
    }
    .nav-mobile-menu span {
        height: 2px;
        background-color: #fff;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out;
    }
    .nav-mobile-menu span:nth-child(1) {
        top: 3px;
    }
    .nav-mobile-menu span:nth-child(2) {
        top: 7px;
    }
    .nav-mobile-menu span:nth-child(3) {
        bottom: 2px;
    }
    /* active menu */
    .nav-mobile-menu.active-menu span:nth-child(1) {
        top: 50%;
        transform: rotate(45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(3) {
        transform: scale(0);
    }
    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        top: 49px;
        transform: translateX(0);
    }
    .navigation.active-menu .nav-menu {
        flex-direction: column;
        /* flex-wrap: nowrap; */
        padding-top: 10px;
    }
    .navigation {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        max-width: 100%;
        height: 200px;
        max-height: 200px;
        transition: all 500ms ease-in-out;
        transform: translateX(150%);
        background-color: #000;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
    }
    .hidden-menu {
        opacity: 0;
        visibility: hidden;
    }
}